.admin-container {
    display: flex;

    .admin-content {
        padding: 5px;
        .header-admin{
            width:100%;
            height: 50px;
            background-color: white;
            border: 1px solid;
        }
    }

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }
    .admin-main{
        height: calc(100vh - 50px);
    }
}