.modal-upload-quiz{
    .input-upload-img{
        display: flex;
        gap: 5px;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px 15px;
        width: fit-content;
        cursor: pointer;
        background-color: #ebe6e6;
        &:hover{
            background-color: #ccc;
        }
    }
    .img-preview{
        height: 150px;
        width: 100%;
        border-radius: 5px;
        border: 1px dashed #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.manager-quiz-container{
    .title{
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
    }
    .quiz-content {
        margin: 5px 0;
        .table-quiz{
            padding: 15px 0;
        }
    }
}