body {
  //overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1350px)
{
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px!important;
}
}

.loading {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container {
  .btn{
    padding: 0 25px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid;
    font-weight: 600;

    // font-weight: 400px;
    // transition: all 0.5s;
  }

  

  .header-container {
    .nav-container-custom{
      position: relative;
      top: 0;
      z-index: 10;
      padding-top: 10px;
      background-color: rgba(0,0,0,0)!important;
      .navbar-nav {
        .nav-link {
          &.active {
            color: red;
          }
        }
  
      }
      .btn-login{
        margin-right: 20px;
        background-color: #e2d6d6;
        opacity: 0.7;
        &:hover{
          opacity: 0.9;
          background-color: #f8ecec;
        }
      }
      .btn-logout{
        background-color: #2c2b2b;
        color: white;
        opacity: 0.7;
        &:hover{
          opacity: 0.9;
          background-color: #1a1919;
          
        }
      }
    }
  }
  .home-container {
    video {
      position: fixed;
      bottom: 0;
      width: 100vw;
    }
    .home-content{
      padding: 15px 50px;
      position: relative;
      z-index: 10;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .title-1{
        font-weight: 600;
        font-size: 45px;
      }
      .title-2{
        font-size: 25px;
      }
      .title-3{
        button{
          background-color: #2c2b2b;
          color: white;
          &:hover{
            background-color: #1a1919;
            
          }
        }
      }
    }
  }
}