.login-container {
    .login-header {
        font-size: 12px;
        color: #333;
        align-items: center;
        height: 45px;

        .btn-register {
            border: 1px solid;
            font-size: 12px;
            margin: 0 5px;
        }
    }

    .login-title {
        margin-top: 50px;
        text-align: center;
    }

    .login-form {
        input {
            border: 1px solid #ccc;
        }

        .forgot-password {
            cursor: pointer;
        }

        .login-submit {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 15px;
            
            button{
                border: 1px solid;
            }
        }
        .input{
            position: relative;
            .icon{
                position: absolute;
                top: 34px;
                right: 13px;
                font-size: 20px;
                color: #a59c9c;
                cursor: pointer;
            }
        }
        
    }
}